.upcoming-section {
  background: #fff;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  margin-top:3px;
  height: 52vh;
}

.upcoming-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #1e1e60;
}

.upcoming-day-block {
  display: flex;
  flex-direction: column;

}

.day-label {
  font-size: 0.9rem;
  color: #757373;
}

.appointment-list {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.appointment-pill {
  background: #bfc9f8;
  padding: 10px;
  border-radius: 16px;
  width:50%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.85rem;
}

.pill-top {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: #1e1e60;
}

.time {
  color: black;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .appointment-list {
    flex-direction: column;
  }

  .appointment-pill {
    width: 80%;
  }
  .upcoming-section{
    height: 85vh;
  }
}
